* {
  font-family: "Teko", sans-serif;
}
.rotate-270 {
  transform: rotate(270deg);
}

.tes {
  font-weight: lighter;
}
a:hover {
  color: orange !important;
}
/* hp */
@media screen and (max-width: 500px) {
  .menu-card {
    width: 10rem !important;
  }
  .modal-card {
    width: 9rem !important;
  }
  .footer-content {
    width: 11rem !important;
  }
}
/* pc */
@media screen and (min-width: 500px) {
  .menu-card {
    width: 13rem !important;
  }
  .footer-content-a {
    padding-left: 8rem !important;
  }
  .footer-content-b {
    padding-right: 7rem !important;
  }
}
